<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  
  <ul class="navbar-nav">
    <li class="nav-item h3 text-light">{{title}}</li>
    <li class="nav-item">
      <a routerLink="users" routerLinkActive="active" class="nav-link">Users list</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <div>A simple CRUD application meant to demonstrate basic use of Angular and SpringBoot</div>
    <span>Emil Švaga, 2023</span>
  </div>
</footer>